<div class="navbar-fixed" ng-controller="HeaderController">
    <nav>
        <div class="nav-wrapper">



            <a href="/" class="button-collapse btn-floating btn-large pink" data-activates="slide-out" ng-click="button_collapse()"><i class="material-icons">menu</i></a>

            <a class="brand-logo hide-on-med-and-down" style="text-indent:30px">Calculateroute</a>
            <a id="breadcumb" class="brand-logo center"><img src="images/logo_camion.png" style="height:60px; width:135px"/></a>




            <form name="directionForm" ng-show="isAuthenticated()" ng-submit="findDirection()">
                <div class="input-field move-down">
                    <input type="search" id="search" ng-required ng-model="direction" ng-focus="focusDirection()" ng-blur="blurDirection()">
                    <label for="search"><i class="material-icons">search</i></label>
                    <!--<i class="material-icons">close</i>-->
                </div>
            </form>
<!--
            <div id="directions" class="gridStyle"  ui-grid="gridOptions">
            </div>
-->
            <table id="search_table">
                <tbody id="search_table_tbody">
                    <tr ng-repeat="direction in directions" ng-click="selectDirection($index)">
                        <td class="waves-effect" ><i class="material-icons">forward</i> {{ direction.text }}</td>
                    </tr>
                </tbody>
            </table>


<!--
                <a ng-mouseup="dropdown($event)" class='dropdown-button' href='#' data-activates='dropdown_layers'><i class="large material-icons">more_vert</i></a>
                <ul id='dropdown_layers' class='dropdown-content'>
                    <li><a href="/" ng-click="change_layer()">PTV</a></li>
                    <li><a href="/" ng-click="change_layer()">Mapnik</a></li>
                    <li><a href="/" ng-click="change_layer()">Road</a></li>
                </ul>
-->

        </div>
    </nav>
</div>
