<div ng-controller="HomeController">
    <div ng-init="calculateroute()"></div>
    <!--<leaflet ng-init="map()" layers="layers"></leaflet> -->
    <div id="map" ng-init="map()"></div>

    <div id="modal_choice_index" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
</div>
