<!--<ul id="slide-out" class="side-nav fixed ps-container ps-active-y" ng-controller="SidenavController">-->
<ul id="slide-out" class="side-nav fixed" ng-controller="SidenavController">

    <li class="pink no-padding no-margin">
        <div class="row" style="margin-bottom: 0px;">
            <div class="col s4" style="padding-top:25px;">
                <img src="files/images/camion.jpg" alt="" class="circle responsive-img">
            </div>
            <div class="col s8">
                <ul id="profile-dropdown" class="dropdown-content">
                    <li class="no-padding" ng-show="isAuthenticated()">
                        <a href="#" ng-click="close_sidenav($event)">
                            <i class="material-icons">face</i> Perfil
                        </a>
                    </li>
                    <!--<li class="no-padding">
                        <a href="#">
                            <i class="material-icons">settings</i> Configuracion
                        </a>
                    </li>-->
                    <li class="no-padding">
                        <a href="#" ng-click="close_sidenav($event)">
                            <i class="mdi-communication-live-help"></i> Help
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li class="no-padding" ng-show=" ! isAuthenticated()">
                        <a ui-sref="signup" ng-click="close_sidenav($event)">
                            <i class="material-icons">input</i> Registrarse
                        </a>
                    </li>
                    <li class="no-padding" ng-show=" ! isAuthenticated()">
                        <a ui-sref="login" ng-click="close_sidenav($event)">
                            <i class="material-icons">lock_open</i> Entrar
                        </a>
                    </li>
                    <li class="no-padding" ng-show="isAuthenticated()">
                        <a ui-sref="logout" ng-click="empty_user(); close_sidenav($event)">
                            <i class="material-icons">lock</i> Salir
                        </a>
                    </li>
                </ul>
                <a ng-mouseup="dropdown($event)" class="truncate dropdown-button waves-effect waves-light white-text" data-beloworigin="true" href="#" data-activates="profile-dropdown">{{ user.name || 'unknown' | translate }}</span><i class="mdi-navigation-arrow-drop-down left" style="margin-right:5px"></i></a>
                <p style="color:white; text-indent: 40px; text-transform: capitalize;" translate>{{ user.rol }}</p>
            </div>
        </div>
    </li>
    <li class="divider" style="height:10px"></li>
    <li class="no-padding">
        <a ui-sref="home" class="waves-effect waves-light" ng-click="close_sidenav($event)">
            <i class="small material-icons">map</i> Mapa
        </a>
    </li>
    <li class="no-padding">
        <a ui-sref="vehicle" class="waves-effect waves-light" ng-click="close_sidenav($event)">
            <i class="small material-icons">local_shipping</i> Vehiculo
        </a>
    </li>
    <li class="no-padding">
        <a ui-sref="trayect" class="waves-effect waves-light" ng-click="close_sidenav($event)">
            <i class="small material-icons">confirmation_number</i> Trayecto
        </a>
    </li>
    <li class="no-padding">
        <a ui-sref="details" class="waves-effect waves-light" ng-click="close_sidenav($event)">
            <i class="small material-icons">assignment</i> Detalles
        </a>
    </li>
    <!--
    <li><a ui-sref="home" class="waves-effect waves-light" ng-click="close_sidenav($event)">Vehiculo2</a></li>
    <li><a ui-sref="home" class="waves-effect waves-light" ng-click="close_sidenav()">Vehiculo3</a></li>
    <li><a ui-sref="home" class="waves-effect waves-light" ng-click="close_sidenav()">Vehiculo4</a></li>
    <li><a ui-sref="home" class="waves-effect waves-light" ng-click="close_sidenav()">Vehiculo5</a></li>
    <!--<li><a ui-sref="signup" class="waves-effect" ng-click="close_sidenav($event)">Signup</a></li>
    <li><a ui-sref="home" class="waves-effect" ng-click="close_sidenav($event)">{{ 'home' | translate }}</a></li>-->




</ul>
