<img id="loader_route" src="images/350.GIF"/>
<div ng-controller="HomeController">
    <div id="map" ng-init="renderMap()" onclick="$('#search').trigger('blur')"></div>

    <div id="modal_choice_index" class="modal">
        <div class="modal-content">
            <h5 style="display:inline">Posicion, </h5><i>(Antes de...)</i>
            <div class="input-field col s12">
                <select class="browser-default" id="select_choice_index" name="select_choice_index">
                    <option value="0">A: Origen</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button id="button_select_choice_index" class="btn pink waves-effect">Anadir</button>
        </div>
    </div>


    <div id="modal_info" class="modal bottom-sheet">
        <i class="material-icons" onclick="$('#modal_info').closeModal()">clear</i>
        <div class="modal-content">
            <table style="margin-top:30px">
                <thead>
                    <tr>
                        <th>Distancia</th>
                        <th>Tiempo</th>
                        <th>Coste</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ results.info.distance | distanceParser }}</td>
                        <td>{{ results.info.time | timeParser }}</b></td>
                        <td>{{ results.info.cost }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="modal_manoeuvres" class="modal bottom-sheet">
        <i class="material-icons" ng-click="closeManoeuvres()">clear</i>
        <div class="modal-content">
            <table>
                <!--<thead><tr><th style="text-align:center">#</th><th>Descripcion</th></tr></thead>-->
                <tbody>
                <tr ng-repeat="manoeuvre in results.manoeuvres" ng-click="contextManoeuvre($index)" style="cursor:pointer">
                    <td style="text-align:center; white-space: nowrap">{{ $index + 1 }}     <span class="leaflet-routing-icon {{manoeuvre.icon }}"></span></td>
                    <td>{{ manoeuvre.description }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
