<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>{{title}}</title>



    <!-- General META -->
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="fragment" content="!" />
    <base href="/"/>

    <!-- Responsive META -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Semantic META -->
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{description}}">

    <!--Application CSS Files-->
    {% for cssFile in cssFiles %}
    <link rel="stylesheet" href="{{cssFile}}">
    {% endfor %}

    <!--Application JavaScript Files-->
    {% for jsFile in jsFiles %}
    <script type="text/javascript" src="{{jsFile}}"></script>
    {% endfor %}

    <!-- HTML5 Shim -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>


<body>

    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <header id="header" class="page-topbar">
        <div class="navbar-fixed" data-ng-controller="HeaderController">
            <nav class="cyan">
                <div class="nav-wrapper">
                    <h1 class="logo-wrapper"><a href="index.html" class="brand-logo darken-1">Calculateroute</a> <span class="logo-text">Materialize</span></h1>
                    <ul class="right hide-on-med-and-down">
                        <li class="search-out"><input type="text" class="search-out-text"></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div id="main">
        <div class="wrapper">
            <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed leftside-navigation">
                    <li><a href="css-color.html"><i class="mdi-editor-format-color-fill"></i> Color</a>
                </ul>
                <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only darken-2"><i class="mdi-navigation-menu" ></i></a>
            </aside>
            <!-- START CONTENT -->
            <section id="content">
                {% block content %}{% endblock %}
            </section>
        </div>
    </div>

</body>
</html>
