<div class="container" ng-controller="PtvController">
    <div class="row">
        <div class="col s9 m5 l5 truncate tooltip" title="This is my div's tooltip!" ng-init="toolTipster('manoeuvres')" style="font-size:25px; padding-top:5px;">
            Maniobras <i class="tiny material-icons" style="vertical-align:top;">help</i>
        </div>
        <div class="col s3 m2 l2 right-align truncate">
            <label class="label-switch" style="margin-top:4px;">
                <input type="checkbox" id="manoeuvres" ng-model="manoeuvres"/>
                <div class="checkbox"></div>
            </label>
        </div>
    </div>
</div>
