<div class="container" ng-controller="PtvController">
    <div class="breadcumb">Login<li class="divider"></li></div>
    <div class="row">
        <div class="col s8 m4 l3 offset-l1" class="tooltip" title="This is my div's tooltip messagessssdsd d sd sd sds dsds dsd sd sd d!" ng-init="toolTipster('tollroads')" style="font-size:25px; padding-top:5px;">
            Autopistas <i class="tiny material-icons" style="vertical-align:top;">help</i>
        </div>
        <div class="col s4 m2 l2 right-align">
                <input type="number" ng-min="-99" ng-max="2501" step="1" class="output_input" id="tollroads" name="tollroads" ng-model="tollroads"/>
        </div>
        <div class="col s12 m6 l6">
            <input type="range" for="tollroads" min="-99" max="2501" step="1" data-rangeslider range-parser ng-init="rangeSlider('tollroads')" ng-model="tollroads">
        </div>
    </div>
    <div class="row">
        <div class="col s8 m4 l3 offset-l1" class="tooltip" title="This is my div's tooltip message!" ng-init="toolTipster('highways')" style="font-size:25px; padding-top:5px;">
            Autovias <i class="tiny material-icons" style="vertical-align:top">help</i>
        </div>
        <div class="col s4 m2 l2 right-align">
            <input type="number" ng-min="-99" ng-max="2501" step="1" class="output_input" id="highways" name="highways" ng-model="highways"/>
        </div>
        <div class="col s12 m6 l6">
            <input type="range" for="highways" min="-99" max="2501" step="1" data-rangeslider range-parser ng-init="rangeSlider('highways')" ng-model="highways">
        </div>
    </div>

    <script>
    </script>
</div>
