<div class="container" ng-controller="PtvController">
    <div class="breadcumb">Login<li class="divider"></li></div>
    <div class="row">
        <div class="col s8 m4 l3 offset-l1">
            Autopistas
        </div>
        <div class="col s4 m2 l2 right-align">
                <input type="number" ng-min="-99" ng-max="2501" step="1" class="output_input" id="trayect.tollroads" name="trayect.tollroads" ng-model="trayect.tollroads"/>
        </div>
        <div class="col s12 m6 l6">
            <input type="range" for="trayect.tollroads" min="-99" max="2501" step="1" data-rangeslider range-parser ng-init="rangeSlider('trayect.tollroads')" ng-model="trayect.tollroads">
        </div>
    </div>
    <div class="row">
        <div class="col s8 m4 l3 offset-l1" style="font-size:25px; padding-top:5px;">
            Autovias
        </div>
        <div class="col s4 m2 l2 right-align">
            <input type="number" ng-min="-99" ng-max="2501" step="1" class="output_input" id="trayect.highways" name="trayect.highways" ng-model="trayect.highways"/>
        </div>
        <div class="col s12 m6 l6">
            <input type="range" for="trayect.highways" min="-99" max="2501" step="1" data-rangeslider range-parser ng-init="rangeSlider('trayect.highways')" ng-model="trayect.highways">
        </div>
    </div>
</div>
