<div class="container" ng-controller="PtvController">

    <div class="row">
        <div ng-class="mobile ? 'label_option_responsive' : 'label_option'" class="col s12 m4 l4 offset-l1 tooltip" title="This is my div's tooltip message!" ng-init="toolTipster('vehicletype')">
            Tipo <i class="tiny material-icons" style="vertical-align:top">help</i>
        </div>
        <div class="input-field col s12 offset-m1 m4 offset-l1 l5" style="margin-top:0px; padding:0px">
            <select class="browser-default" id="vehicletype" name="vehicletype" ng-model="vehicletype" ng-init="selectVehicleType()" ng-change="changeVehicleType()" style="height:40px">
                <option value="default">Sin especificar</option>
                <option value="car"><img src="images/car.png" height="40" width="40">Turismo</option>
                <option value="van">Furgoneta</option>
                <option value="truck-7.5t">Camion (7,5 T)</option>
                <option value="truck-11.99t">Camion (11,9 T)</option>
                <option value="truck-40t">Camion (40 T)</option>
                <option value="trailer-truck">Camion con Trailer</option>
                <option value="transporter">Autobus</option>
            </select>
        </div>
    </div>

    <!-- DIMENSIONS -->
    <div class="header_section">Dimensiones<li class="divider"></li></div>
    <div class="row">
        <div ng-class="mobile ? 'label_option_responsive' : 'label_option'" class="col s6 m5 l4 offset-l1 tooltip" title="This is my div's tooltip!" ng-init="toolTipster('height')">
            Altura <i class="tiny material-icons" style="vertical-align:top;">help</i>
        </div>
        <div class="col s5 m2 l2 right-align">
            <input type="number" ng-min="0" ng-max="1000" step="1" class="output_input" id="height" name="height" ng-model="height"/>
        </div>
        <div class="col s1 right-left" style="padding-left:0px"><i><b style="font-size:20px">cm</b></i></div>
    </div>
    <div class="row">
        <div ng-class="mobile ? 'label_option_responsive' : 'label_option'" class="col s6 m5 l4 offset-l1 tooltip" title="This is my div's tooltip message!" ng-init="toolTipster('width')">
            Anchura <i class="tiny material-icons" style="vertical-align:top">help</i>
        </div>
        <div class="col s5 m2 l2 right-align truncate">
            <input type="number" ng-min="0" ng-max="1000" step="1" class="output_input" id="width" name="width" ng-model="width"/>
        </div>
        <div class="col s1 right-left" style="padding-left:0px"><i><b style="font-size:20px">cm</b></i></div>
    </div>
    <div class="row">
        <div ng-class="mobile ? 'label_option_responsive' : 'label_option'" class="col s6 m5 l4 offset-l1 tooltip" title="This is my div's tooltip message!" ng-init="toolTipster('lengt')">
            Largura <i class="tiny material-icons" style="vertical-align:top">help</i>
        </div>
        <div class="col s5 m2 l2 right-align truncate">
            <input type="number" ng-min="0" ng-max="10000" step="1" class="output_input" id="lengt" name="lengt" ng-model="lengt"/>
        </div>
        <div class="col s1 right-left" style="padding-left:0px"><i><b style="font-size:20px">cm</b></i></div>
    </div>

    <!-- WEIGHT -->
    <div class="header_section">Pesos<li class="divider"></li></div>
    <div class="row">
        <div ng-class="mobile ? 'label_option_responsive' : 'label_option'" class="col s6 m5 l4 offset-l1 tooltip" title="This is my div's tooltip message!" ng-init="toolTipster('emptyweight')">
            Peso vacio <i class="tiny material-icons" style="vertical-align:top">help</i>
        </div>
        <div class="col s5 m2 l2 right-align truncate">
            <input type="number" ng-min="0" ng-max="50000" step="20" class="output_input" id="emptyweight" name="emptyweight" ng-model="emptyweight"/>
        </div>
        <div class="col s1 right-left" style="padding-left:0px"><i><b style="font-size:20px">Kg</b></i></div>
    </div>
    <div class="row">
        <div ng-class="mobile ? 'label_option_responsive' : 'label_option'" class="col s6 m5 l4 offset-l1 tooltip" title="This is my div's tooltip message!" ng-init="toolTipster('totalweight')">
            Peso Total <i class="tiny material-icons" style="vertical-align:top">help</i>
        </div>
        <div class="col s5 m2 l2 right-align truncate">
            <input type="number" ng-min="0" ng-max="50000" step="20" class="output_input" id="totalweight" name="totalweight" ng-model="totalweight"/>
        </div>
        <div class="col s1 right-left" style="padding-left:0px"><i><b style="font-size:20px">Kg</b></i></div>
    </div>
    <div class="row">
        <div ng-class="mobile ? 'label_option_responsive' : 'label_option'" class="col s6 m5 l4 offset-l1 truncate tooltip" title="This is my div's tooltip message!" ng-init="toolTipster('trailerweight')">
            Peso Trailer <i class="tiny material-icons" style="vertical-align:top">help</i>
        </div>
        <div class="col s5 m2 l2 right-align truncate">
            <input type="number" ng-min="0" ng-max="50000" step="20" class="output_input" id="trailerweight" name="trailerweight" ng-model="trailerweight"/>
        </div>
        <div class="col s1 right-left" style="padding-left:0px"><i><b style="font-size:20px">Kg</b></i></div>
    </div>

    <!-- LOAD -->
    <div class="header_section" style="margin-top:40px;">Carga<li class="divider"></li></div>
    <div class="row">
        <div ng-class="mobile ? 'label_option_responsive' : 'label_option'" class="col s12 m4 l4 offset-l1 tooltip" title="This is my div's tooltip message!" ng-init="toolTipster('loadtype')">
            Tipo Carga <i class="tiny material-icons" style="vertical-align:top">help</i>
        </div>
        <div class="input-field col s12 offset-m1 m4 offset-l1 l3" style="margin-top:0px; padding:0px">
           <select id="loadtype" name="loadtype" ng-model="loadtype">
                <option value="PASSENGER">Personas</option>
                <option value="GOODS">Mercancias</option>
                <option value="MIXED">Personas y Mercancias</option>
            </select>
        </div>
        <script>$('#loadtype').material_select()</script>
    </div>
    <div class="row">
        <div ng-class="mobile ? 'label_option_responsive' : 'label_option'" class="col s12 m4 l4 offset-l1 tooltip" title="This is my div's tooltip message!" ng-init="toolTipster('hazardousgoodtype')">
            Mercancias peligrosas <i class="tiny material-icons" style="vertical-align:top">help</i>
        </div>
        <div class="input-field col s12 offset-m1 m4 offset-l1 l3" style="margin-top:0px; padding:0px">
            <select id="hazardousgoodtype" name="hazardousgoodtype" ng-model="hazardousgoodtype">
                <option value="NONE">Ninguna</option>
                <option value="HAZARDOUS">Contaminantes</option>
                <option value="HAZARDOUS_TO_WATERS">Contaminantes al agua</option>
                <option value="COMBUSTIBLES">Inflamables</option>
                <option value="COMBUSTIBLES_HAZARDOUS_TO_WATERS">Contaminantes al agua e Inflamables</option>
            </select>
        </div>
        <script>$('#hazardousgoodtype').material_select()</script>
    </div>
    <div class="row">
        <div ng-class="mobile ? 'label_option_responsive' : 'label_option'" class="col s6 m5 l4 offset-l1 truncate tooltip" title="This is my div's tooltip message!" ng-init="toolTipster('loadweight')">
            Peso Carga <i class="tiny material-icons" style="vertical-align:top">help</i>
        </div>
        <div class="col s5 m2 l2 right-align truncate">
            <input type="number" ng-min="0" ng-max="50000" step="20" class="output_input" id="loadweight" name="loadweight" ng-model="loadweight"/>
        </div>
        <div class="col s1 right-left" style="padding-left:0px"><i><b style="font-size:20px">Kg</b></i></div>
    </div>
    <div class="row">
        <div ng-class="mobile ? 'label_option_responsive' : 'label_option'" class="col s6 m5 l4 offset-l1 margin_label tooltip" title="This is my div's tooltip message!" ng-init="toolTipster('maximumpassengers')">
            Maximos Pasajeros <i class="tiny material-icons" style="vertical-align:top">help</i>
        </div>
        <div class="col s5 m2 l2 right-align truncate">
            <input type="number" ng-min="0" ng-max="200" step="1" class="output_input" id="maximumpassengers" name="maximumpassengers" ng-model="maximumpassengers"/>
        </div>
    </div>

    <!-- AXLE -->
    <div class="header_section" style="margin-top:40px;">Ejes<li class="divider"></li></div>
    <div class="row">
        <div ng-class="mobile ? 'label_option_responsive' : 'label_option'" class="col s6 m5 l4 offset-l1 truncate tooltip" title="This is my div's tooltip message!" ng-init="toolTipster('axleload')">
            Peso / Eje <i class="tiny material-icons" style="vertical-align:top">help</i>
        </div>
        <div class="col s5 m2 l2 right-align truncate">
            <input type="number" ng-min="0" ng-max="50000" step="20" class="output_input" id="axleload" name="axleload" ng-model="axleload"/>
        </div>
        <div class="col s1 right-left" style="padding-left:0px"><i><b style="font-size:20px">Kg</b></i></div>
    </div>
    <div class="row">
        <div ng-class="mobile ? 'label_option_responsive' : 'label_option'" class="col s6 m5 l4 offset-l1 truncate tooltip" title="This is my div's tooltip message!" ng-init="toolTipster('axlenumber')">
            Num ejes <i class="tiny material-icons" style="vertical-align:top">help</i>
        </div>
        <div class="col s5 m2 l2 right-align truncate">
            <input type="number" ng-min="0" ng-max="200" step="1" class="output_input" id="axlenumber" name="axlenumber" ng-model="axlenumber"/>
        </div>
    </div>

    <!-- ENGINE -->
    <div class="header_section" style="margin-top:40px;">Motor<li class="divider"></li></div>
    <div class="row">
        <div ng-class="mobile ? 'label_option_responsive' : 'label_option'" class="col s6 m5 l4 offset-l1 tooltip" title="This is my div's tooltip message!" ng-init="toolTipster('cylinder')">
            Cilindrada <i class="tiny material-icons" style="vertical-align:top">help</i>
        </div>
        <div class="col s5 m2 l2 right-align truncate">
            <input type="number" ng-min="0" ng-max="20000" step="20" class="output_input" id="cylinder" name="cylinder" ng-model="cylinder"/>
        </div>
        <div class="col s1 right-left" style="padding-left:0px"><i><b style="font-size:20px">Cc</b></i></div>
    </div>
    <div class="row">
        <div ng-class="mobile ? 'label_option_responsive' : 'label_option'" class="col s12 m4 l4 offset-l1 tooltip" title="This is my div's tooltip message!" ng-init="toolTipster('fueltype')">
            Tipo Combustible <i class="tiny material-icons" style="vertical-align:top">help</i>
        </div>
        <div class="input-field col s12 offset-m1 m4 offset-l1 l3" style="margin-top:0px; padding:0px">
            <select id="fueltype" name="fueltype" ng-model="fueltype">
                <option value="EUROSUPER">Eurosuper</option>
                <option value="DIESEL">Diesel</option>
                <option value="COMPRESSED_NATURAL_GAS">Gas natural comprimido</option>
                <option value="LIQUEFIED_PETROLEUM_GAS">Gas mezcla Petroleo</option>
            </select>
        </div>
        <script>$('#fueltype').material_select()</script>
    </div>
    <div class="row">
        <div ng-class="mobile ? 'label_option_responsive' : 'label_option'" class="col s6 m5 l4 offset-l1 tooltip" title="This is my div's tooltip message!" ng-init="toolTipster('fuelconsumption')">
            Consumo <i class="tiny material-icons" style="vertical-align:top">help</i>
        </div>
        <div class="col s5 m2 l2 right-align truncate">
            <input type="number" ng-min="0" ng-max="200" step="0.5" class="output_input" id="fuelconsumption" name="fuelconsumption" ng-model="fuelconsumption"/>
        </div>
        <div class="col s1 right-left" style="padding-left:0px"><i><b style="font-size:20px">Lt</b></i></div>
    </div>
    <div class="row">
        <div ng-class="mobile ? 'label_option_responsive' : 'label_option'" class="col s12 m4 l4 offset-l1 tooltip" title="This is my div's tooltip message!" ng-init="toolTipster('emmissionclass')">
            Clase Emisiones <i class="tiny material-icons" style="vertical-align:top">help</i>
        </div>
        <div class="input-field col s12 offset-m1 m4 offset-l1 l3" style="margin-top:0px; padding:0px">
            <select id="emmissionclass" name="emmissionclass" ng-model="emmissionclass">
                <option value="EURO_0">Clase Euro 0</option>
                <option value="EURO_1">Clase Euro 1</option>
                <option value="EURO_2">Clase Euro 2</option>
                <option value="EURO_3">Clase Euro 3</option>
                <option value="EURO_4">Clase Euro 4</option>
                <option value="EURO_5">Clase Euro 5</option>
                <option value="EURO_6">Clase Euro 6</option>
                <option value="EURO_7">Clase Euro 7</option>
            </select>
        </div>
        <script>$('#emmissionclass').material_select()</script>
    </div>

    <!-- LEGAL -->
    <div class="header_section" style="margin-top:40px;">Termino Legales<li class="divider"></li></div>
    <div class="row">
        <div ng-class="mobile ? 'label_option_responsive' : 'label_option'" class="col s7 m5 l4 offset-l1 margin_label tooltip" title="This is my div's tooltip message!" ng-init="toolTipster('yearmanufacturer')">
            A&ntilde;o Fabricacion <i class="tiny material-icons" style="vertical-align:top">help</i>
        </div>
        <div class="col s5 m2 l2 right-align truncate">
            <input type="number" ng-min="1950" ng-max="2015" step="1" class="output_input" id="yearmanufacturer" name="yearmanufacturer" ng-model="yearmanufacturer"/>
        </div>

    </div>
    <div class="row">
        <div ng-class="mobile ? 'label_option_responsive' : 'label_option'" class="col s8 m5 l4 offset-l1 tooltip" title="This is my div's tooltip!" ng-init="toolTipster('delivery')">
            Vehiculo de Entrega <i class="tiny material-icons" style="vertical-align:top;">help</i>
        </div>
        <div class="col s3 m2 l2 right-align truncate">
            <label class="label-switch" style="margin-top:4px;">
                <input type="checkbox" id="delivery" ng-model="delivery"/>
                <div class="checkbox"></div>
            </label>
        </div>
    </div>

</div>
