/* MAIN FOOTER */
main, footer {
    padding-left: 300px;
}
@media only screen and (max-width: 992px) {
    main, footer {
        padding-left: 0px;
    }
}

/* NAV */
.navbar-fixed {
    height: 50px !important;
    line-height: 50px !important;
}
nav {
    height: 50px !important;
    line-height: 50px !important;
}
nav i {
    height: 50px !important;
    line-height: 50px !important;
}

/* SIDENAV */
.side-nav.fixed {
    top: 50px;
}
/* Cuando sale el sidenav que no se oscurezca el resto del content de la pantalla
#sidenav-overlay {
    background-color: transparent;
}*/

