/* MAIN FOOTER */
main {
    padding-left: 300px;
}
@media only screen and (max-width: 992px) {
    main {
        padding-left: 0px;
    }
}

/* NAV */
.navbar-fixed {
    height: 50px !important;
    line-height: 50px !important;
}
nav {
    height: 50px !important;
    line-height: 50px !important;
}
nav i {
    height: 50px !important;
    line-height: 50px !important;
}

/* SIDENAV */
.side-nav.fixed {
    top: 50px;
    height: calc(100% - 50px);
    /*height: calc(100% - 100px);   */          /* Para poner el footer toda la pantalla*/
}
.side-nav li {
    padding: 0;
}

#button-collapse {
    z-index: 1000;
}


/* Cuando sale el sidenav que no se oscurezca el resto del content de la pantalla
#sidenav-overlay {
    background-color: transparent;
}*/

footer {
    position: absolute;
    bottom: 0px;
}



/* ANADIDOS PARA PROBAR */
nav .button-collapse i {
    font-size: 3.5rem;
}

nav .btn-floating.btn-large {
    right: 5px;
    height: 50px;
    width: 50px;
}
/* No permitir la seleccion en toda nav */
nav {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


