@import url(http://fonts.googleapis.com/css?family=Roboto:500,300,700,100,400);

html {
    font-family: 'Roboto', sans-serif;
}


/* MAIN FOOTER */
main {
    padding-left: 300px;
}
@media only screen and (max-width: 992px) {
    main {
        padding-left: 0px;
    }
}

/* NAV */
.navbar-fixed {
    height: 50px !important;
    line-height: 50px !important;

}
nav {
    height: 50px !important;
    line-height: 50px !important;
}
nav i {
    height: 50px !important;
    line-height: 50px !important;
}

/* SIDENAV */
.side-nav.fixed {
    top: 50px;
    /*height: calc(100% - 100px);   */          /* Para poner el footer toda la pantalla*/
}
/* Cuando sale el sidenav que no se oscurezca el resto del content de la pantalla
#sidenav-overlay {
    background-color: transparent;
}*/

footer {
    position: absolute;
    bottom: 0px;
}
